/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap'); */
@font-face {
  font-family: 'Comfortaa';
  src: url(/fonts/Comfortaa-VariableFont_wght.ttf); /* Путь к файлу со шрифтом */
}
html {
  font-family: 'Comfortaa', cursive !important;
  font-size: 16px !important;

  overflow: auto !important;
    -ms-overflow-style: none !important; /* IE 11 */
    scrollbar-width: none !important; /* Firefox 64 */
}

h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3.3rem;
  font-weight: normal;
}
h3 {
  font-size: 2rem;
  font-weight: normal;
}
h4 {
  font-size: 1.8rem;
  font-weight: normal;
}
h5 {
  font-size: 1.4rem;
  font-weight: normal;
}
h6 {
  font-size: 1.15rem;
  font-weight: normal;
}
p {
  font-size: 1rem;
  font-weight: inherit;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: #363636;
}

/* проблемы vuetify */
.v-card__text, .v-card__title {
  word-break: normal !important;
}
/*
// .right-enter-active, .right-leave-active {
//   transition: all 3s
// }
// .right-enter, .right-leave-active {
//   opacity: 0
// }
*/
.catalog-enter-active, .catalog-leave-active,
.business-enter-active, .business-leave-active {
  transition: all 0.2s !important;
}
.catalog-leave-to {
  transform: translateX(15%);
  opacity: 0;
}
.catalog-enter {
  transform: translateX(-15%);
  opacity: 0;
}
.business-enter {
  transform: translateX(15%);
  opacity: 0;
}
.business-leave-to {
  transform: translateX(-15%);
  opacity: 0;
}

.layout-enter-active, .layout-leave-active {
  transition: all 0.3s, opacity 0.2s;
}
.layout-enter, .layout-leave-active {
  filter: blur(5px) hue-rotate(90deg);
  opacity: 0;
}
