$font-size-root: 12px;
$laptop: 4000px;
$small-laptop: 1400px;
$tablet: 1023px;
$mobile: 765px;
$small-mobile: 400px;
$main-color: #ff3300;
$side-color: #92d3f6;
$main-light-color: #e57657;
$side-dark-color: #4494b6;
$dark-packege: #242d35;
